  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="https://iitpkd.ac.in">
        <img src="{{ "/assets/images/iitpkd_logo.png" | relative_url }}" alt="IIT PKD Logo" style="width:500px;margin-left:-0px;">
      </a>
      <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="homeNav">
            <a class="nav-link" href="/mcam">Home</a>
          </li>
          <li class="nav-item" id="highlightsNav">
            <a class="nav-link" href="/mcam/highlights">Highlights</a>
          </li>
          <li class="nav-item" id="aboutNav">
            <a class="nav-link" href="/mcam/about">About</a>
          </li>

          <li class="nav-item" id="facultyNav">
            <a class="nav-link" href="/mcam/faculty">Core Faculty</a>
          </li>
          <li class="nav-item" id="eligibilityNav">
            <a class="nav-link" href="/mcam/eligibility">Eligibility</a>
          </li>
          <li class="nav-item" id="applyNav">
            <a class="nav-link" href="/mcam/apply">How to Apply</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
