---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#aboutNav").addClass("active");
</script>


<div class="row vh-70">
  <div class="col-12 my-auto">
    <br>
    <div class="row">
      <div class="col-6 my-auto">
        <p class="lead">

        Computing and Mathematics have been tied together ever since the notion of computability was formalized. Algorithmic procedures accompanied by their well founded mathematical proofs of guarantees are integral components of
        computational problem solving. The focus of this program is to cover some aspects of this interrelationship between Computing and Mathematics. The program offers a unique mix of computer science courses with supporting mathematics
        courses that together cover theoretical and practical aspects of computation.
        </p>
      </div>
      <div class="col-6 my-auto">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DZO9dvRFCbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" alt="MCAM overview video" allowfullscreen></iframe>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-auto">
        <p class="lead">
          The targeted audience come from two backgrounds (1) B.Tech in Computer Science and Engineering / Information Technology (2) M.Sc in Mathematics. As mentioned earlier,
        the objective of the program is to train students in areas which are integral to both Computing and Mathematics. To facilitate this goal, the first semester will comprise of an appropriate set of bridge courses for the students
        depending on their background. That is, M.Sc Mathematics students will be trained in certain basic core courses from computer science and B.Tech Computer Science and Engineering students will be trained in some core mathematics
        courses. This would make the advanced elective courses offered in both the domains accessible to all students in the subsequent semesters. The curriculum is designed in such a way that the students would be prepared to pursue careers
        that require innovations involving sophisticated applications of mathematics in computer science.
        </p>
      </div>
    </div>
  </div>
</div>
