---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#eligibilityNav").addClass("active");
</script>

<div class="row" style="height:110px;">
</div>

<div class="row vh-75">
  <div class="col-12 my-auto">
    <div class="d-flex my-3">
      <div class="jumbotron w-100 py-5 mx-auto">
        <h4>Eligibility</h4>
        <ul>
          <li>
            <p class="lead"> Candidates should have completed the requirements of a B.Tech/B.E degree in CSE/IT or an M.Sc degree in Mathematics.</p>
          </li>
          <li>
            <p class="lead">Candidates must have a valid GATE score in CS or MA papers. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
